{% capture category %}{{ post.categories | size }}{% endcapture %}
<img class="archive" src="{{ root_url }}/images/posts/{{ post.english_short_title }}.jpg" alt="{{ page.title }}" title="{{ page.title }}" />
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date_ru: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if category != '0' %}
<footer>
  <span class="categories">{{ post.categories | category_links }}</span>
</footer>
<h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}{% if post.title != post.short_title %}<span class="subtitle">{{ post.short_title }}</span>{% endif %}</a></h1>        
{% endif %}
