{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
      {% if post.title != post.short_title %}<div class="subtitle">{{ post.short_title }}</div>{% endif %}
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      {% if page.title != page.short_title %}<div class="subtitle">{{ page.short_title }}</div>{% endif %}
    {% endif %}
    
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Комментарии</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <p><img class="left" src="{{ root_url }}/images/posts/{{ post.english_short_title }}.jpg" alt="{{ page.title }}" title="{{ page.title }}" /></p>
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}


<div class="entry-content">
    <p><img class="left" src="{{ root_url }}/images/posts/{{ page.english_short_title }}.jpg" alt="{{ page.title }}" title="{{ page.title }}" /></p>    
    {{ content }}
</div>

<h3>Слушать</h3>
<!-- audio player -->
<script src="{{ root_url }}/assets/audiojs/audio.min.js"></script>
<script>
    audiojs.events.ready(function() {
        var as = audiojs.createAll();
    });
</script>
<div class="audio-player">
<audio src="{{ root_url }}/audio/Biznes-sekrety/{{ page.english_short_title }}.mp3" preload="none"></audio>
</div>
<div class="download-audio">
cкачать
<a href="{{ root_url }}/audio/Biznes-sekrety/{{ page.english_short_title }}.mp3" target="_blank" title="mp3" onClick="javascript: _gaq.push(['_trackPageview', '{{ root_url }}/download/Biznes-sekrety/mp3']);" accesskey="" >mp3</a> или 
<a href="{{ root_url }}/audio/Biznes-sekrety/{{ page.english_short_title }}.m4a" target="_blank" title="m4a без пережатия (лучшее качество)" onClick="javascript: _gaq.push(['_trackPageview', '{{ root_url }}/download/Biznes-sekrety/m4a']);" >оригинал</a>
</div>

<h3>Смотреть</h3>
{% if page.youtube_id %}
<iframe width="560" height="315" src="http://www.youtube.com/embed/{{ page.youtube_id }}?rel=0" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% if page.russia_id %}        
<embed name="playerblog" src="http://www.russia.ru/player/main.swf?103" flashvars="name={{ page.russia_id }}&from=blog&blog=true" width="560" height="315" bgcolor="#000000" allowScriptAccess="always" allowFullScreen="true"></embed>
{% endif %}

<h3>Источник</h3>
Оригинальный источник: <a href="{{ page.source_link }}" target="_blank" rel="nofollow">{{ page.source_link }}</a>
        
<h3>Исправить</h3>        
<div>
Вы можете помочь проекту и дополнить или поменять описание выпуска на
<a href="https://github.com/ffedoroff/octopress/blob/tinkov/source/_posts/{{ page.date_publication }}-{{ page.english_short_title }}.markdown" target="_blank" rel="nofollow">этой странице</a>.
</div>    
{% endif %}
